name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install libmagic
        run: |
          chmod +x scripts/install-libmagic.sh
          ./scripts/install-libmagic.sh

      - name: Build Cerium
        run: cargo build --verbose

      # - name: Run tests
      #   run: cargo test --verbose
      
